<h2>Authors</h1> 
<form action="/authors" method="GET">
    <label for="author">
        <input type="text" name="_search" value ='<%= searchOptions._search  %>'   >
    </label>
    <button type="submit">search</button>
</form>

<ul>
       <% authorsList.forEach(author=> { %>
    <li>
        <%= author.name %>
        <a href="/authors/<%= author.id %>">View</a>
<a href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/_delete_form' , {url :`/authors/${author.id}` }) %>
    </li>
<% }) %>

</ul>
 
